name: release

on:
  push:
    tags: ["v*"]

permissions:
  contents: write
  packages: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@7153c2d7166d680d2c59419da714c02ce5dd0e69 # v1.8.8

      - name: Check
        run: nix flake check

      - name: Build
        run: nix build

      - name: Export build
        run: nix nario export --format 2 --recursive > build.nario

      - name: Upload build
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: build
          path: build.nario

  release:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          generate_release_notes: true

  linux-amd64:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@7153c2d7166d680d2c59419da714c02ce5dd0e69 # v1.8.8

      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build

      - name: Import build
        run: nix nario import --no-check-sigs < build.nario

      - name: Bwrap info
        id: bwrap
        run: |
          BWRAP_PATH=$(nix shell nixpkgs#bubblewrap \
            --inputs-from . \
            --command bash \
            -c "which bwrap")
          echo "bwrap_path=${BWRAP_PATH}" >> $GITHUB_OUTPUT
          echo "bwrap path: ${BWRAP_PATH}"

      - name: Git info
        id: git
        run: |
          GIT_PATH=$(which git)
          echo "git_path=${GIT_PATH}" >> $GITHUB_OUTPUT
          echo "git path: ${GIT_PATH}"

      - name: Bundle
        env:
          NP_RUNTIME: bwrap
          NP_BWRAP: ${{ steps.bwrap.outputs.bwrap_path }}
          NP_GIT: ${{ steps.git.outputs.git_path }}
        run: nix bundle --bundler github:DavHau/nix-portable -o result

      - name: Rename
        id: rename
        run: |
          FILE_LINK=$(find -L result -type f -print -quit)
          FILE_REAL=$(readlink -f "${FILE_LINK}")
          ln -s "${FILE_REAL}" template-linux-amd64

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-linux-amd64

  linux-amd64-deb:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@7153c2d7166d680d2c59419da714c02ce5dd0e69 # v1.8.8

      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build

      - name: Import build
        run: nix nario import --no-check-sigs < build.nario

      - name: Bundle
        run: |
          nix bundle --bundler github:NixOS/bundlers#toDEB -o result
          cp result/*.deb template-linux-amd64.deb

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-linux-amd64.deb

  linux-amd64-rpm:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@7153c2d7166d680d2c59419da714c02ce5dd0e69 # v1.8.8

      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build

      - name: Import build
        run: nix nario import --no-check-sigs < build.nario

      - name: Bundle
        run: |
          nix bundle --bundler github:NixOS/bundlers#toRPM -o result
          cp result/*.rpm template-linux-amd64.rpm

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-linux-amd64.rpm

  container:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@7153c2d7166d680d2c59419da714c02ce5dd0e69 # v1.8.8

      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build

      - name: Import build
        run: nix nario import --no-check-sigs < build.nario

      - name: Bundle
        run: nix bundle --bundler github:spotdemo4/nur#toDockerStream -o result

      - name: Release
        run: >
          ./result |
          gzip --fast |
          nix shell nixpkgs#skopeo
          --inputs-from .
          --command skopeo copy
          --dest-creds=${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
          docker-archive:/dev/stdin
          docker://ghcr.io/${{ github.repository }}:${GITHUB_REF_NAME#v}
